<section id="latestnews" class="dark small-padding">
  <div class="container text-center">
    <h1 class="post-title bottom-padding">Latest News</h1>
    <div class="offset-2 row">
        {% for post in site.posts %}
          {% if post.posttype == "news" %}
            <div class="col-sm-4">
                <h2 class="post-title">{{ post.title }}</h2>
                <hr class="post-hr">
                <p>{{ post.excerpt }}</p>
                <br>
                <a href="{% link {{ post.post-url }} %}">-> Continue Reading</a>
            </div>
          {% endif %}
        {% endfor %}
    </div>
  </div>
</section>
